<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Gastronomy</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body data-is-authenticated="{{ user.is_authenticated|yesno:'true,false' }}">
    <header>
        <div class="logo">
            <a href="/" class="logo-link">
                🦐 Web Gastronomy
            </a>
        </div>

        <div class="search-bar">
            <div class="search-container">
                <span class="search-icon">🔍</span>
                <input type="text" placeholder="Поиск рецептов..." class="search-input">
            </div>
        </div>

        <div class="actor-content">
            <!-- Логика для гостей и авторизованных пользователей -->
            {% if not user.is_authenticated %}
                <div class="auth-buttons">
                    <a href="{% url 'registration' %}" class="auth-button register">Регистрация</a>
                    <a href="{% url 'authorization' %}" class="auth-button authorization">Вход</a>
                </div>
            {% else %}
                <a href="{% url 'favorites' %}" class="auth-button favorites">Избранное</a>
                <div class="auth-buttons">
                    <a href="{% url 'profile' user.id %}" class="auth-button profile">{{ user.username }}</a>
                </div>
            {% endif %}
        </div>
    </header>

    <main>
        <!-- Блок для дочерних шаблонов -->
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>