<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Gastronomy</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <style>
        /* Стили для iframe */
        iframe#radio-frame {
            position: fixed;
            right: 10px; /* Отступ справа */
            width: 300px; /* Ширина iframe */
            height: 250px; /* Высота iframe (увеличьте, если нужно) */
            border: none; /* Убираем рамку */
            z-index: 1000; /* Размещаем поверх других элементов */
        }
    </style>
</head>
<body data-is-authenticated="{{ user.is_authenticated|yesno:'true,false' }}">
    <!-- CSRF-токен -->
    {% csrf_token %}

    <header>
        <div class="logo">
            <a href="/" class="logo-link">
                🦐 Web Gastronomy
            </a>
        </div>

        <div class="search-bar">
            <div class="search-container">
                <span class="search-icon">🔍</span>
                <input type="text" placeholder="Поиск рецептов..." class="search-input" id="search-input">
                <button id="search-button" class="search-button hidden">Найти</button>
            </div>
        </div>


        <div class="actor-content">
            <!-- Логика для гостей и авторизованных пользователей -->
            {% if not user.is_authenticated %}
                <div class="auth-buttons">
                    <a href="{% url 'registration' %}" class="auth-button register">Регистрация</a>
                    <a href="{% url 'authorization' %}" class="auth-button authorization">Вход</a>
                </div>
            {% else %}
                <a href="{% url 'create_recipe' %}" class="auth-button create-recipe">✍️ Создать рецепт</a>
                <a href="{% url 'favorites' %}" class="favorites-icon">
                    <img src="{% static 'favorites.png' %}" alt="Избранное" class="favorites-image">
                </a>
                <div class="user-profile">
                    <a href="{% url 'profile' user.id %}" class="username">{{ user.username }}</a>
                </div>
            {% endif %}
        </div>
    </header>

    <!-- Добавляем iframe для радиоплеера -->
    <iframe id="radio-frame" src="{% url 'radio_player' %}"></iframe>

    <main>
        <!-- Блок для дочерних шаблонов -->
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>