/* Общий стиль страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Cornsilk - фон страницы */
    color: #4a4a4a; /* Dark moss green - основной цвет текста */
}

/* Стиль хедера */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7e3d4; /* Desert sand - фон хедера */
    padding: 10px 20px;
}

header .logo {
    font-size: 18px;
    color: #1c0600cf; /* Dark moss green - цвет текста логотипа */
}

header .logo .logo-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}

header .search-bar {
    flex-grow: 1;
    text-align: left;
    margin-left: 8em;
    position: relative;
}

/* Стиль контейнера поиска */
.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

/* Стиль кнопки "Найти" */
.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    background-color: #bd4a2787; /* Dark moss green - цвет кнопки */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.search-button:hover {
    background-color: #2a411e; /* Темнее при наведении */
}

/* Скрытие кнопки по умолчанию */
.hidden {
    display: none;
}

header .search-bar .search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
}

header .search-bar .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #3f612d; /* Dark moss green - цвет иконки */
    font-size: 18px;
}

header .search-bar .search-input {
    width: 100%;
    height: 35px;
    padding-left: 40px;
    padding-right: 80px;
    background-color: #fffef9; /* Cornsilk - фон поля ввода */
    border: none;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}


/* Стиль контейнера с кнопками */
.actor-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

/* Стиль кнопок */
.auth-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f3b391; /* Peach - цвет кнопок */
    color: #4a4a4a; /* Dark moss green - цвет текста */
    text-decoration: none;
    border-radius: 4px;
    font-size: 17px;
    text-align: center;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.auth-button:hover {
    background-color: #e69c75; /* Темнее при наведении */
}

.auth-button.favorites {
    background-color: #feea00; /* Canary - цвет для избранного */
    color: #3f612d;
    margin-right: 2em;
}

.auth-button.favorites:hover {
    background-color: #e0c700; /* Темнее при наведении */
}

.auth-button.create-recipe {
    background-color: #bd4a2787; /* Peach */
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 3em;
}

/* Стиль для имени пользователя */
.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username {
    font-size: 17px;
    color: #1c0600cf; /* Dark moss green */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    outline: none;
    border: none;
    background-color: transparent;
}

.username:hover {
    color: #f3b391; /* Peach */
    background-color: transparent;
}

.username:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(243, 179, 145, 0.5); /* Peach с прозрачностью */
}

/* Стиль для иконки "Избранное" */
.favorites-icon {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.favorites-icon .favorites-image {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
    margin-right: 1em;
}

.favorites-icon:hover .favorites-image {
    transform: scale(1.1);
}

/* Стиль для закрепленного радиопроигрывателя */
.radio-player {
    position: fixed;
    right: 20px;
    background-color: #fefadc; /* Cornsilk */
    border: 1px solid #f6d4ba; /* Desert sand */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    width: 200px;
    margin-top: 20px;
}

.play-volume-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.radio-player .radio-logo {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.radio-player .radio-info {
    text-align: center;
}

.radio-player .radio-title {
    font-size: 16px;
    font-weight: bold;
    color: #3f612d; /* Dark moss green */
    margin-bottom: 5px;
}

.radio-player button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f3b391; /* Peach */
    color: #3f612d; /* Dark moss green */
    transition: background-color 0.3s ease;
}

.radio-player button:hover {
    background-color: #e69c75; /* Темнее при наведении */
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #f3b391; /* Peach */
    border-radius: 5px;
    outline: none;
}

/* Стиль "бегунка" */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 2px solid #f3b391; /* Peach */
    border-radius: 50%;
    cursor: pointer;
}

/* Для Firefox */
input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 2px solid #f3b391; /* Peach */
    border-radius: 50%;
    cursor: pointer;
}

.play-pause-image {
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
}