/* Общий стиль страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
}

/* Стиль большого контейнера с рецептами */
.recipes-container {
    background-color: #f9f9f9;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: left;
    font-size: 26px;
    margin-bottom: 20px;
    color: #4a4a4a;
    font-weight: bold;
    margin: 0;
    max-width: 500px; /* Ограничиваем ширину заголовка */
    word-wrap: break-word; /* Переносим длинные слова */
    text-align: left; /* Выравнивание текста по левому краю */
}

.recipe-card {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    display: flex;
    align-items: stretch;
    position: relative;
    overflow: visible;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    height: 190px;
}

/* Стиль блока с изображением */
.recipe-image {
    flex-shrink: 0;
    width: 250px;
    height: 187.5px;
    margin-right: 25px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
}

.recipe-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.recipe-thumbnail:hover {
    transform: scale(1.1);
}

/* Информация о рецепте */
.recipe-info {
    flex: 7;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.info-row {
    margin-bottom: 8px;
}

/* Название рецепта */
.recipe-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.recipe-title a {
    color: #1c0600cf;
    text-decoration: none;
}

.recipe-title a:hover {
    text-decoration: underline;
}

/* Описание рецепта */
.recipe-description {
    font-size: 16px;
    flex-grow: 1;
    margin-bottom: 8px;
    color: #4a4a4a;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Блок с рейтингом и автором */
.bottom-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: auto;
    align-self: flex-start;
}

.recipe-rating {
    font-size: 16px;
    color: #4a4a4a;
    display: flex;
    align-items: center;
    gap: 5px;
}


.recipe-author {
    font-size: 14px;
    color: #1c0600cf;
    display: flex;
    align-items: center;
    gap: 5px;
}

.recipe-author a {
    color: #1c0600cf;
    text-decoration: none;
}

.recipe-author a:hover {
    text-decoration: underline;
}

.user-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

/* Кнопки */
.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #000000;
}

.view-recipe {
    background-color: #5b8c5a;
    color: #ffffff;
}

.view-recipe:hover {
    background-color: #4a7549;
    transform: scale(1.05);
}

/* Стиль кнопки "Добавить в избранное" */
.add-to-favorites {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
    float: right;
    margin-left: auto;
    color: #ffffff;
}

.add-to-favorites:not(.authenticated) {
    background-color: #f0f0f0;
    border: 2px solid #e0e0e0;
}

.add-to-favorites:not(.authenticated):hover {
    background-color: #e0e0e0;
    border-color: #d0d0d0;
    transform: scale(1.05);
}

.add-to-favorites.favorited {
    background-color: #f7d3a9;
}

.add-to-favorites.favorited:hover {
    background-color: #f4c28b;
    transform: scale(1.05);
}



#custom-tooltip {
    position: fixed;
    color: #4a4a4a;
    font-size: 14px;
    font-family: sans-serif;
    z-index: 99999;
    pointer-events: none;
    white-space: normal;
    max-width: 200px;
    word-break: break-word;
    padding: 0;
    background: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

#custom-tooltip.show {
    opacity: 1 !important;;
}

#custom-tooltip.hidden {
    display: none;
}


.reply-error {
    color: #ссс; /* Цвет текста ошибки */
    font-size: 12px; /* Размер шрифта */
    display: none; /* Скрываем по умолчанию */
}

.reply-error.visible {
    display: inline-block !important; /* Показываем ошибку */
}
.add-to-favorites:hover .tooltip {
    display: block;
}

/* Стиль модального окна */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

#confirm-delete-recipe {
    background-color: #DD6031;
    color: white;
}

#confirm-delete-recipe:hover {
    background-color: #c74d22;
}

/* Контейнер заголовка и панели управления */
.header-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sorting-panel {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #444;
}

.sort-select {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.sort-select:focus {
    border-color: #66A932;
    outline: none;
}

.toggle-order-button {
    background: none; /* Убираем фон */
    border: none; /* Убираем границу */
    color: black; /* Черный цвет символа */
    font-size: 18px; /* Размер символа */
    cursor: pointer;
    transition: transform 0.3s ease; /* Плавный эффект увеличения */
    opacity: 0.4;
}

.toggle-order-button:hover {
    transform: scale(1.1); /* Увеличиваем при наведении */
}

.controls-panel {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступ между строками */
}

.favorite-icon {
    width: 35px; /* Ширина изображения */
    height: 35px; /* Высота изображения */
    object-fit: cover; /* Обеспечиваем сохранение пропорций (квадратное изображение) */
    transition: transform 0.2s ease; /* Плавный эффект при наведении */
}

.label-and-control {
    display: flex;
    align-items: baseline; /* Выравнивание по базовой линии (по двоеточию) */
    gap: 10px; /* Отступ между меткой и элементами управления */
}

.label {
    font-size: 14px;
    color: #444;
    min-width: 150px; /* Фиксированная ширина метки для выравнивания */
    text-align: right; /* Прижимаем текст к правому краю */
}


.controls {
    display: flex;
    align-items: center;
}

.delete-recipe-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 80px;
    right: 27.5px;
}

.delete-recipe-icon {
    width: 35px; /* Размер иконки */
    height: 35px;
    opacity: 0.7; /* Полупрозрачность */
    transition: opacity 0.3s ease; /* Плавный переход при наведении */
}

/* Эффект при наведении на иконку */
.delete-recipe-icon:hover {
    opacity: 1; /* Полная видимость */
}

/* Стили для контейнера автора и статистики */
.author-and-stats {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.rating-info,
.favorites-info,
.rating-info *,
.favorites-info * {
    cursor: default !important;
}

/* Стили для контейнера автора */
.author-container {
    display: flex;
    align-items: left;
    margin-right: 20px;
    text-align: left;
}

.avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    font-size: 16px;
    color: #444444;
    font-weight: bold;
}

.comment-date {
    font-size: 14px;
    color: #444444;
    white-space: nowrap;
    padding-top: 5px;
}

/* Стили для контейнера статистики */
.stats-container {
    display: flex;
    align-items: center;
}

.rating-info,
.favorites-info {
    margin-left: 15px;
}

.rating-value {
    font-size: 18px;
    color: #FFD700; /* Цвет звезд */
    font-weight: bold;
}

.rating-count {
    font-size: 16px;
    color: #444444;
}

.favorites-count {
    font-size: 18px;
    color: #444444;
    font-weight: bold;
    margin-left: 15px;
}

.recipe-date {
    font-size: 14px;
    color: #444444;
    white-space: nowrap;
    padding-top: 5px;
}

.favorite-count-icon {
    width: 23px; /* Размер иконки */
    height: 23px; /* Размер иконки */
    vertical-align: middle; /* Выравнивание по центру относительно текста */
    margin-bottom: 5px;
}

.rating-info {
    font-size: 16px; /* Базовый размер шрифта */
    margin-bottom: 10px;
}

.rating-number {
    font-size: 18px; /* Размер числа */
    font-weight: bold; /* Жирный шрифт */
    color: #444444; /* Цвет числа */
}

.rating-star {
    font-size: 28px; /* Размер звезды */
    color: #FFD700; /* Цвет звезды (золотой) */
    vertical-align: sub;
}